<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Isotope.Properties.RealSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<userSettings>
		
		<Isotope.Properties.RealSettings>
			<setting name="aliaseslist" serializeAs="String">
				<value>
				</value>
			</setting>
			<setting name="commands" serializeAs="String">
				<value>
				</value>
			</setting>
			<setting name="json_load" serializeAs="String">
				<value>
				</value>
			</setting>
			<setting name="keywords" serializeAs="String">
				<value>
				</value>
			</setting>
			<setting name="opentabs" serializeAs="String">
				<value>
				</value>
			</setting>
			<setting name="subcommands" serializeAs="String">
				<value>
				</value>
			</setting>
			<setting name="use_json_load" serializeAs="String">
				<value>False</value>
			</setting>
		</Isotope.Properties.RealSettings>
		
	</userSettings>
</configuration>